<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pennapps.cashcat" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/cashcat"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".HomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ShowTransactions"
            android:parentActivityName=".HomePage">
        </activity>

        <activity
            android:name=".NewCategory"
            android:parentActivityName=".HomePage">
        </activity>

    </application>

</manifest>
